div.sheet {
    height: 150%;
    padding: 10px 10px;
}

div.controls {
    height: 150%;
    background-color: #ececec;
    padding: 10px 40px !important;
}

table thead td {
    font-weight: 550;
    font-size: 14px;
}

table td {
    min-height: 37px;
    height: 37px;    
}

.panel-body {
    padding: 0!important;
}